#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  height: 21rem;
  border: lightcoral outset 6px;
} 

.app-container{
  display:  flex;
  flex-direction: column;
  gap: 1rem;
}

.app-container > button {
  width: fit-content;
  align-self: center;
}

input[type="range"]::-webkit-slider-thumb {
  /* visibility: visible; */
  background-color: red !important;
}

input[type="range"]::-webkit-slider-runnable-track {
  /* height: 5px; */
}

.progress{
  height: 30px !important;
  
}

.progress-bar h6{
  margin-bottom: 0;
}

.form1{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.respuesta{
  position: absolute;
  top: 10px;
  left: 10px;
}